@font-face {
  font-family: "FuturaPT";
  src: url("./assets/fonts/FuturaPT-Bold.woff");
}

:root {
  --main-font: "FuturaPt";
  --mainWhite: #fff;
  --mainWhiteOpacity: rgba(255, 255, 255, 0.5);
  --mainRed: #e76767;
}

body {
  margin: 0;
  font-family: var(--main-font), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #161616;
  color: var(--mainWhiteOpacity);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  outline: none;
}

/* input:hover,
input:active {
  outline: none;
} */

button {
  background: none;
  outline: none;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}
